.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.hero-content {
  margin-top: 2rem;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.feature {
  width: 20rem;
  text-align: center;
  margin-bottom: 2rem;
}

.box {
  border: 2px solid #ffffff;
  padding: 20px;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonial {
  margin-bottom: 1rem;
}

.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

.landing-page-content {
  background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701952174.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.why-choose-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.why-choose-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}
