body {
  background-color: #c4d5e7;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.calendar-day {
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.calendar-day:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.calendar-day::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #e7c4c7, #8fb3e5);
  opacity: 0.5;
  z-index: -1;
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  color: #666;
  margin-bottom: 8px;
}

h5 {
  font-size: 18px;
  color: #888;
  margin-bottom: 6px;
}

h6 {
  font-size: 16px;
  color: #999;
  margin-bottom: 4px;
}

.header {
  text-align: center;
  padding: 40px;
  background-color: #ffd2d7;
}

h1 {
  font-size: 32px;
  color: #444;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #666;
  margin-bottom: 16px;
}

p {
  font-size: 18px;
  color: #888;
  margin-bottom: 12px;
}

.audio-player {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

.audio-player audio {
  width: 100%;
}

.audio-player audio::-webkit-media-controls-panel {
  background-color: #f2f2f2;
  border-radius: 4px;
}
